

@import "components/reset";
@import "components/typography";
@import "components/menu";
@import "components/restaurantStyles";
 

body
{
    padding: 20px;
    margin: 20px;
}





.mainContainer
{
    margin: 5px 5px;



}


.hidden
{
     
    display:none;
}
