



body
{
    padding: 20px;
    margin: 20px;
}
 

@mixin componentMixin ($color)
{
   border: thin solid $color;
    color: $color;
    margin: 10px;
    padding: 10px;
}


.componentBoxRed
{
    @include componentMixin(red);
}

.componentBoxBlue
{
    @include componentMixin(blue);
}