

@import "components/reset";
@import "components/typography";
@import "components/menu";
@import "components/rowdemo";


body
{
    padding: 20px;
    margin: 20px;
}





.mainContainer
{
    margin: 50px 50px;



}


.hidden
{
    visibility: hidden;
}
