
@import "reset";
@import "typography";
$boxWidth: 120px;





nav.topMenu {
    background-color: #fff;
/*    position: fixed;
    left: 0;
    right: 0;
    top: 0;*/
    z-index:1;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);

    li a,span.groupMenu-placeholder {
        font-family: Arial, Helvetica, sans-serif;
        color: #766e65;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
        -webkit-transition: 0.15s background-color linear;
        -moz-transition: 0.15s background-color linear;
        -o-transition: 0.15s background-color linear;
        transition: 0.15s background-color linear; 

        &:focus,
            &:hover,
            &.active {
            background-color: #29a7f5;
            color: #fff; 
        }
    }

    //first level ul links
    .primary-nav {
        float: left;
        display: block;

        & > li  {
            float: left;

            & > a , span {
                float: left;
                padding: 15px 0;
                width: $boxWidth;
                border-left: 1px solid #ada791;
            }
        }
        & > li:first-child > a , span {
            border-left: none;
        }

    }


    /****************
    Drop Down Menu
    ****************/
    .has-submenu
    { 
        a {
            display: block;
            padding: 10px 0;
            z-index: 10;
            position: relative;
        }
        ul{
            position: absolute;
            z-index: 5;
            top: 185px;
            background-color: #fff;
            border: 1px solid #ada791;

            width: $boxWidth;
            border-radius: 0 0 15px 15px;
            overflow: hidden;
            display: none;
        }
        &:hover ul {
            display: block;         
        }

    }



}


