 

.mainContainer
{
    margin: 5px 5px;



}


.hidden
{

    display:none;
}


.restaurantApp
{ 

    $default-border:   4px #ccc double;
    $blue-color: #08c;
    .editContainer
    {
        float: left;
        width: 98%
    }
    .restaurantListContainer,.editRestaurantContainer , .editReviewContainer
    {
        float: left;
        padding:1.5%;
        margin: 10px;

    }


    .errorMessage
    {
        float: left;
        color: red;

    }

    .restaurantListContainer
    {
        border: $default-border;
        width: 98%;
        height: 250px;
        overflow:hidden;

        .nameItem
        {
            width: 45%;
            text-align: left;

        }
        .cityItem
        {
            width: 20%;
            text-align: left ;

        }
        .stateItem
        {
            width: 5%;
            text-align:left;
        }
        .zipCodeItem
        {
            width: 10%;
            text-align:center;
        }

        .versionItem
        {
            width: 10%;
            text-align:center;
        }
        .actionItems
        {
            width: 10%;
            text-align:center;
        }

    } 

    #tHeadContainer, #tbodyContainer
    {
        margin-top: 5px;
        width: 99%;
        th
        {
            background-color: $blue-color;
            color: white;
            border-right: thin solid white;
            padding-bottom: 5px;
            text-align:center;
        }

        table
        {
            width:1030px;
            border-collapse: collapse;
            table-layout: fixed;
            empty-cells: show;
        }
        td
        {
            padding-left: 2px;
            padding-bottom: 2px;
        }

        tr.restaurantRow
        {
            cursor: pointer;
        }

    }

    #tbodyContainer
    {

        height: 125px;
        overflow-y: scroll;

        td
        {
            border-right: thin solid $blue-color;
            margin: 5px;
        }

        tr.highLighted 
        {
            .nameItem , .cityItem  , .stateItem  , .zipCodeItem, .versionItem
            { 
                background-color: lightblue;
                color: white;
            }



        }

    }

    .editReviewContainer
    {
        border: $default-border; 
        width: 51%;
        height: 250px;

        table
        {
            width: 100%;
            margin-top: 10px;
            border-collapse: collapse;
            table-layout: fixed;
            empty-cells: show;
        }


        th
        {
            background-color: $blue-color;
            color: white;
            border-right: thin solid white;
            padding-bottom: 0px;
            text-align:center;
        }

        #reviewTableBodyContainer
        {

            height: 125px;
            overflow-y: scroll;
            width: 550px;

        }

        #reviewTableHeaderContainer
        {
            width: 535px;

        }

        .editHeader
        {
            font-size: 25px;
            font-weight: bold;
            float: left;


        }


        #reviewListing 
        {
            width: 98%;
            font-size: 15px ;
            height: 25px;
            border: 2px solid $blue-color;
        }
        #starRating
        {
            background: transparent;
            width: 50px;
            border: 2px solid $blue-color;
            font-size: 15px;          
            border-radius: 20px;
            height: 25px;

        }

        th
        {
            &.listing
            {
                width: 70%;

            }
            &.rating
            {
                width: 15%;


            }
            &.actionButton
            {
                width:  15%;



            }
        }

        td
        {
            padding: 5px;
            border: thin solid $blue-color;
            vertical-align: center;
            height: 30px;

            &.listing
            {
                width: 70%;

            }
            &.rating
            {
                width: 15%;


            }
            &.actionButton
            {
                width:  15%;
                text-align: center


            }
        }


        .btnEdit {
            font-family: Arial;
            color: #ffffff;
            font-size: 10px;
            background: #08c;
            padding: 5px 5px 5px 5px;
            text-decoration: none;


        }

        .btnDelete {
            font-family: Arial;
            color: #ffffff;
            font-size: 10px;
            background: #d93434;
            padding: 5px 5px 5px 5px;
            text-decoration: none;


        }




    }


    .editRestaurantContainer
    {
        border: $default-border; 
        width: 45%;
        height: 250px;
        td
        {   height: 45px;

        }
        input.inputName
        {
            border: thin solid #3498db;
            width:175px;
        }

        input.age
        {
            border: thin solid #3498db;
            width:100px;
        }
    }

    .editButton {


        display: inline-block;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255,255,255,0.75);
        vertical-align: middle;
        cursor: pointer;
        margin-right: 15px;
        background-repeat: repeat-x;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);

        color: white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        background-color: #006dcc;
        background-image: -moz-linear-gradient(top,#08c,#04c);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
        background-image: -webkit-linear-gradient(top,#08c,#04c);
        background-image: -o-linear-gradient(top,#08c,#04c);
        background-image: linear-gradient(to bottom,#08c,#04c);
        background-repeat: repeat-x;
        // border-color: #04c #04c #002a80;
        // border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);


        &:hover {
            background-color: #08c;
            background-image: -moz-linear-gradient(top,#08c,#08c);
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#08c));
            background-image: -webkit-linear-gradient(top,#08c,#08c);
            background-image: -o-linear-gradient(top,#08c,#08c);
            background-image: linear-gradient(to bottom,#08c,#08c);
            text-decoration: none;
        }



    }

    .warnButton {


        display: inline-block;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255,255,255,0.75);
        vertical-align: middle;
        cursor: pointer;
        margin-right: 15px;


        background-repeat: repeat-x;
        // border: 1px solid #ccc;

        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);

        color: white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        background-color: #006dcc;
        background-image: -moz-linear-gradient(top,#d93434, #b82b2b);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
        background-image: -webkit-linear-gradient(top,#d93434, #b82b2b);
        background-image: -o-linear-gradient(top,#d93434, #b82b2b);
        background-image: linear-gradient(to bottom,#d93434, #b82b2b);
        background-repeat: repeat-x;
        // border-color: #04c #04c #002a80;
        // border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);


        &:hover {
            background-color: #08c;
            background-image: -moz-linear-gradient(top,#d93434,#d93434);
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#d93434),to(#d93434));
            background-image: -webkit-linear-gradient(top,#d93434,#d93434);
            background-image: -o-linear-gradient(top,#d93434,#d93434);
            background-image: linear-gradient(to bottom,#d93434,#d93434);
            text-decoration: none;
        }

    }


    .addRow
    {

    }

    .addButton{
        float:right;
        margin-bottom:20px;
    }

    //http://spiffygif.com/docs/ 
    div.waitIndicator
    { 
        background: rgba(0,0,0,.5) url('images/spiffygif_96x96.gif') 50% 50% no-repeat;
        width:100%;
        height:100%;
        position:fixed;

        top:0%;
        left:0%;
        z-index:999;
    }




    input[type=text], textarea,select  {
        -webkit-transition: all 0.10s ease-in-out;
        -moz-transition: all 0.10s ease-in-out;
        -ms-transition: all 0.10s ease-in-out;
        -o-transition: all 0.10s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
    }

    input[type=text]:focus, textarea:focus,select:focus,  {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(81, 203, 238, 1);
    }

    button
    {
         -webkit-transition: all 0.10s ease-in-out;
        -moz-transition: all 0.10s ease-in-out;
        -ms-transition: all 0.10s ease-in-out;
        -o-transition: all 0.10s ease-in-out;
        outline: none;
        
        border: 1px solid #DDDDDD;
    }
    button:focus,  {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        
        border: 1px solid rgba(81, 203, 238, 1);
    }






}